* {
  box-sizing: border-box;
}
html {
  margin: 0;
  font-family: "Kalnia", serif;
  font-size: 10px;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

main {
  max-width: 120ch;
  padding: 2rem;
}

.overall-header {
  text-align: center;
  background-color: salmon;
  padding: 5rem;
  position: relative;
  font-size: 1.5rem;
}

::selection {
  background-color: darkgrey;
  color: white;
}
.profession::after {
  content: " 🤓";
}

.profession {
  font-size: 0.25em;
}

h1 {
  font-size: 1em;
}
.nav {
  margin: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav:hover {
  color: grey;
}

.nav:active {
  color: hotpink;
}

.article {
  margin: 5rem;
  padding: 4rem;
  border-top: dotted salmon;
  font-size: 1.5rem;
}

article:nth-child(1) {
  border-top: none;
}

.inline {
  display: inline;
}

h2 {
  position: relative;
  left: -3rem;
}
.badge {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  color: white;
  background-color: black;
}

.enclosing {
  font-size: 6rem;
}
