* {
  box-sizing: border-box;
}
html {
  margin: 0;
  font-family: "Kalnia", serif;
  --page-background-color: white;
  --page-text-color: black;
  --main-color: salmon;
  --nav-color: white;
  --hover-color: grey;
  --gradient-color: #faebd7;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

main {
  max-width: 75ch;
  padding: 2rem;
}

.overall-header {
  text-align: center;
  background-image: linear-gradient(
    90deg,
    var(--main-color),
    var(--gradient-color)
  );
  background-color: var(--main-color);
  padding: 4rem;
  position: relative;
  font-size: 1.5rem;
}

::selection {
  background-color: var(--hover-color);
  color: var(--nav-color);
}
.profession::after {
  content: " 🤓";
}

.profession {
  font-size: 0.25em;
}

h1 {
  font-size: 1em;
}
.nav {
  margin: 1rem;
  color: var(--nav-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.nav:hover {
  color: var(--hover-color);
}

.nav:active {
  color: var(--main-color);
}

.article {
  margin: 1rem;
  padding: 2rem;
  border-top: dotted var(--main-color);
  font-size: 1rem;
}

.article:nth-child(1) {
  border-top: none;
}

.inline {
  display: inline;
}

h2 {
  position: relative;
  left: -2rem;
}
.badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  color: var(--nav-color);
  background-color: black;
  font-size: 1rem;
}

.enclosing {
  font-size: 3rem;
}

.heading-container {
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  position: sticky;
  bottom: 0rem;
  background-image: linear-gradient(
    270deg,
    var(--main-color),
    var(--gradient-color)
  );
  background-color: var(--main-color);
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
  .article {
    margin-bottom: 40px;
  }
  .nav {
    display: inline-flex;
  }
  .heading-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .badge {
    position: fixed;
  }
  .article {
    margin-bottom: 60px;
  }
}
@media print {
  .badge {
    display: none;
  }
  .nav {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}
